<!DOCTYPE html>
<html>
  <head>
    <title>PruebaRails</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="author" content="Olga Soldado Acevedo">
    <meta name="description" content="Desafio rails 06/2023">
    <script src="https://kit.fontawesome.com/de8351153c.js" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css' %>
  </head>
  <body> 
    <div class="container-fluid">
    <!--Navbar  -->
      <nav class="navbar navbar-expand-lg bg-black">
        <div class="container">
          <a class="navbar-brand" href="#"> <%= image_tag 'log.png' ,class:'imghome'%></a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
            <ul class="p-3">
              <li><a><%= link_to 'Home','/home'%></a></li>
              <li><a><%= link_to 'Projects','/projects'%></a></li>
              <li><a><%= link_to 'Contact','/contact'%></a></li>
            </ul>
          </div>
        </div>
      </nav> 
      <%= yield %>
      <footer class="bg-black text-center  p-2"><p class="gris">Copyright ©2023.Todos los derechos reservados</footer>
    </div>  
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz" crossorigin="anonymous"></script>
  </body>
</html>
